article { padding: 20px 0 40px;}
article:nth-child(2n + 1) {
	background: beige;
}
.top-header-row {
	background: midnightblue;
}
.top-header-row h1,
.top-header-row h1 small {
	color: white;
}
.top-header { 
	padding-top: 2em;
	padding-bottom: 2em;
}
.top-header small { display: block;}
@media screen and (max-width: 768px){
	article > .container > .col-xs-12 { padding-bottom: 20px;}
}
.img-main {
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, .5);
}