.tn__panel--full {
    background-position: center;
    background-size: cover;
    padding-bottom: 50%;
    position: relative;
    width: 100%;

    &::after {
        background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1;
    }
}

@include media-breakpoint-up(xl) {
    .tn__panel--full {
        padding-bottom: 35%;
    }
}

.tn__site-wrapper {

    .tn__panel--full {

        &:first-child {
            margin-top: -2rem;
        }
    }
}

.tn__panel--text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.tn__panel--overlay-heading {
    @include font-size(3rem);
}

.tn__panel--overlay-paragraph {
    margin-top: 0;
    @include font-size(1.5rem);
}

.tn__panel--overlay-button {
    
}