// Picnic CSS framework. 
@import "../../node_modules/picnic/picnic.min.css";

// Bootstrap's utilities.
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/utilities";

@import "menu-icon";

// Local variables.

$site__nav--top-offset: 5rem;
$site__content--max-width: 100rem;

// Site wrapper with sticky footer.

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.app-root {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-between;
    width: 100%;
}

.tn__site-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: $site__nav--top-offset;
}

.tn__site-wrapper--inner {
    flex: 1 0 auto;
    padding-bottom: 2rem;
}

// Top navbar

.tn__site-content--inner {
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
}

@include media-breakpoint-up(xl) {
    .tn__site-content--inner {
        max-width: $site__content--max-width;
        margin: 0 auto;
    }
}

.tn__site--footer {
    padding: 2rem 0;
}

// Components - Full panel

.tn__site--wrapper {

    .tn__panel--full {

        &:first-child {
            margin-top: -5rem;
        }
    }
}
.tn__panel--full {
        background-position: center;
        background-size: cover;
        padding-bottom: 50%;
        width: 100%;
}
